## 1. Write a Python program to rearrange positive and negative numbers in a given list using Lambda and map()
### Sample output:
### original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
### resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [116]:
import numpy as np


original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = list(map(lambda x:x,list(filter(lambda x:x>0 ,original_list))+list(filter(lambda x:x<0 ,original_list))[::-1]))
print(resulting_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

## 2. Create a new dataframe using week_11/temperatures/temperature.csv filefrom last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [94]:
import pandas as pd
file_to_load=(r'C:\Users\watso\Documents\Data_Science_Bootcamp\homework_11\temperature.csv')
df=pd.read_csv(file_to_load)
city_df=df[['datetime', 'Vancouver']]
city_df

                  datetime   Vancouver
0      2012-10-01 12:00:00         NaN
1      2012-10-01 13:00:00  284.630000
2      2012-10-01 14:00:00  284.629041
3      2012-10-01 15:00:00  284.626998
4      2012-10-01 16:00:00  284.624955
...                    ...         ...
45248  2017-11-29 20:00:00         NaN
45249  2017-11-29 21:00:00         NaN
45250  2017-11-29 22:00:00         NaN
45251  2017-11-29 23:00:00         NaN
45252  2017-11-30 00:00:00         NaN

[45253 rows x 2 columns]

In [98]:
freezing=273.15
city_df['is_freezing']=city_df.apply(lambda x: x['Vancouver'] < 273, axis = 1)
city_df

<ipython-input-98-d80879f9c49d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df['is_freezing']=city_df.apply(lambda x: x['Vancouver'] < 273, axis = 1)

                  datetime   Vancouver  is_freezing
0      2012-10-01 12:00:00         NaN        False
1      2012-10-01 13:00:00  284.630000        False
2      2012-10-01 14:00:00  284.629041        False
3      2012-10-01 15:00:00  284.626998        False
4      2012-10-01 16:00:00  284.624955        False
...                    ...         ...          ...
45248  2017-11-29 20:00:00         NaN        False
45249  2017-11-29 21:00:00         NaN        False
45250  2017-11-29 22:00:00         NaN        False
45251  2017-11-29 23:00:00         NaN        False
45252  2017-11-30 00:00:00         NaN        False

[45253 rows x 3 columns]